@import "../../styles/main.scss";

.button {
  padding: map-get($spacers, small) map-get($spacers, x-large);
  border: none;
  background-color: $grey4;
  border-radius: px-to-rem(2px);
  color: $white;
  cursor: pointer;

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.secondary {
    background-color: $secondary;
    color: $white;
  }

  .text {
    font-family: $font-family-primary;
    font-weight: 400;
  }
}
