@import "../../styles/main.scss";

.container {
  padding: map-get($spacers, large);
  padding-bottom: map-get($spacers, large);
  border-bottom: 1px solid $muted-border;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: map-get($spacers, large);
}

.title {
  display: block;
  color: $grey1;
  font-family: $font-family-primary;
  font-size: map-get($heading-sizes, h5);
  font-weight: 600;
  text-transform: uppercase;
}

.infoText {
  display: block;
  margin-right: auto;
  margin-left: map-get($spacers, x-small);
  color: $primary;
  font-family: $font-family-primary;
  font-size: map-get($heading-sizes, h5);
  font-weight: 600;
}

.selectAll {
  display: block;
  color: #bdc0c8;
  cursor: pointer;
  font-family: $font-family-primary;
  font-size: map-get($heading-sizes, h5);
  text-decoration: underline;
}
