@import "../../styles/main.scss";

.container {
  display: flex;
  background-color: $white;
}

.searchButton {
  min-width: px-to-rem(180px);
  margin: map-get($spacers, x-small) map-get($spacers, small);
}

.secondary {
  background-color: $secondary;
}
