/* stylelint-disable declaration-colon-newline-after */

@import "../../styles/main.scss";

.container {
  position: relative;
  padding: map-get($spacers, large) 0;

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    padding-bottom:
      calc(
        #{map-get($spacers, large) + #{map-get($spacers, x-large)}}
      );
    background-color: $grey1;
  }
}

.searchBar {
  width: 1120px;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: map-get($spacers, normal);
  color: $white;
  font-family: $font-family-heading;
  font-size: map-get($heading-sizes, h2);
  font-weight: 600;
}

.plane {
  position: absolute;
  top: 0;
  left: px-to-rem(30px);
  width: auto;
  height: 100%;
}
