@import "../../styles/main.scss";

.header {
  background-color: $white;
}

.container {
  display: flex;
  max-width: px-to-rem(1120px);
  align-items: center;
  justify-content: space-between;
  padding: map-get($spacers, large) 0 map-get($spacers, normal);
  margin: 0 auto;
}

.logoContainer {
  cursor: pointer;
  line-height: 0;
}

.logo {
  max-width: 100%;
}

.navigation {
  display: flex;
}
