/* stylelint-disable declaration-colon-newline-after */
@import "../../styles/main.scss";

.footerContainer {
  display: grid;
  padding: map-get($spacers, x-large) map-get($spacers, normal);
  margin:
    map-get($spacers, x-large) auto
    calc(3 * #{map-get($spacers, x-large)});
  grid-column-gap: px-to-rem(50px);
  grid-template-columns: 1fr 2fr;

  @include forNonDesktop {
    display: block;
    margin: map-get($spacers, normal) 0;
  }
}

.textContent {
  color: $grey2;
  font-family: $font-family-primary;
  font-size: map-get($font-sizes, small);
  font-weight: 400;
  line-height: px-to-rem(24px);
  text-decoration: none;
}

.menu {
  display: grid;
  flex: 5;
  padding-top: map-get($spacers, x-small);
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

  @include forNonDesktop {
    display: none;
  }
}
