/* stylelint-disable declaration-colon-newline-after */
@import "../../styles/main.scss";

.row {
  display: grid;
  padding:
    map-get($spacers, small) map-get($spacers, x-large)
    map-get($spacers, large) !important;
  background-color: $element-bg;
  grid-column-gap: map-get($spacers, normal);
  grid-template-columns: 2fr 1fr !important;
}

.legs,
.prices {
  background-color: $white;
  border-radius: px-to-rem(2px);
}

.legs {
  padding: 0 !important;
}

.legRow {
  display: grid;
  padding: 0 !important;
  border-bottom: none !important;
  grid-template-columns: repeat(2, 2fr 3fr) !important;
}

.priceOption {
  display: flex;
  margin-bottom: map-get($spacers, normal);

  span {
    display: block;
    color: $grey2;
    font-family: $font-family-primary;
    font-size: map-get($font-sizes, x-small);
    font-weight: 400;

    &.price {
      flex: 4;
      font-weight: 600;
    }

    &.agent {
      flex: 7;
    }
  }
}

.durationContainer {
  text-align: center;
}

.duration {
  color: $grey2;
  font-family: $font-family-primary;
  font-size: map-get($heading-sizes, h5);
  font-weight: 400;
}

.pointedLine {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey2;
}

.pointedLine::after,
.pointedLine::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 5px;
  height: 5px;
  background: $grey2;
  border-radius: 50%;
  content: "";
}

.pointedLine::after {
  right: 0;
  left: auto;
}
