/* stylelint-disable declaration-colon-newline-after */
@import "../../styles/main.scss";

.row {
  display: grid;
  padding:
    map-get($spacers, small) map-get($spacers, x-large)
    map-get($spacers, large) !important;
  background-color: $element-bg !important;
  grid-column-gap: map-get($spacers, normal);
  grid-template-columns: 2fr 1fr !important;

  @include forSmallScreen {
    display: flex !important;
    flex-direction: column;
  }
}

.legs,
.prices {
  background-color: $white;
  border-radius: px-to-rem(2px);
}

.legs {
  padding: 0 !important;

  @include forSmallScreen {
    margin-bottom: map-get($spacers, large);
  }
}

.prices {
  @include forSmallScreen {
    padding: map-get($spacers, normal) !important;
  }
}

.legRow {
  display: grid;
  padding: 0 !important;
  border-bottom: none !important;
  grid-template-columns: repeat(2, 2fr 3fr) !important;

  .durationContainer {
    text-align: center;
  }

  @include forSmallScreen {
    padding: map-get($spacers, normal) !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr !important;

    .flightInfo {
      padding-bottom: 0;
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    .durationContainer {
      padding-top: map-get($spacers, x-small);
      padding-bottom: 0;
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .origin {
      padding-bottom: 0;
      grid-column: 1 / 2;
      grid-row: 3;
    }

    .destination {
      padding-bottom: 0;
      grid-column: 2/ 3;
      grid-row: 3;
    }
  }
}

.priceOption {
  display: flex;
  margin-bottom: map-get($spacers, normal);

  span {
    display: block;
    color: $grey2;
    font-family: $font-family-primary;
    font-size: map-get($font-sizes, x-small);
    font-weight: 400;

    &.price {
      flex: 4;
      font-weight: 600;
    }

    &.agent {
      flex: 7;
    }
  }
}

.duration {
  color: $grey2;
  font-family: $font-family-primary;
  font-size: map-get($heading-sizes, h5);
  font-weight: 400;
}

.pointedLine {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid $grey3;
}

.pointedLine::after,
.pointedLine::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 5px;
  height: 5px;
  background: $grey3;
  border-radius: 50%;
  content: "";
}

.pointedLine::after {
  right: 0;
  left: auto;
}
