@import "../../styles/main.scss";

.container {
  display: flex;
  max-width: px-to-rem(200px);
  flex: 2;
  border-right: 1px solid $muted-border;

  &.small {
    flex: 1;
  }
}

.icon {
  display: inline-block;
  padding: map-get($spacers, normal);
}

.input {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  padding: map-get($spacers, normal) 0;
  border: none;
  color: $grey1;
  font-family: $font-family-primary;
  font-weight: 400;
}
