@import "./styles/main.scss";

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  min-height: 100vh;
}

.searchSection {
  background-color: $primary;
  padding: map-get($spacers, large) 0;
}
