@import "./styles/main.scss";

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  min-height: 100vh;
  background-color: $body-bg;
}

.searchSection {
  padding: map-get($spacers, large) 0;
  background-color: $primary;
}

.main {
  display: grid;
  max-width: 1120px;
  margin: 0 auto map-get($spacers, x-large);
  grid-column-gap: map-get($spacers, large);
  grid-template-columns: px-to-rem(260px) 1fr;
}
